body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #000000, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.titulo {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    animation: slideDown 0.5s ease-out;
}

.formulario {
    background-color: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1s ease-in;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"] {
    width: 100%;
    padding: 10px 1px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s, box-shadow 0.3s;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus {
    border-color: #74ebd5;
    box-shadow: 0 0 8px rgba(116, 235, 213, 0.5);
    outline: none;
}

.formulario input[type="submit"] {
    background-color: #74ebd5;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 30px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.formulario input[type="submit"]:hover {
    background-color: #50c9c3;
}

.boton1 {
    background-color: #74ebd5;
    color: white;
    padding: 12px;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.boton1:hover{
    background-color: #50c9c3;
}

div{
    text-align: center;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

